<nav>
    <div class="navBtn">
        <a 
            [ngClass]="{active: activePage === 'home'}"
            (click)="setActivePage('home')"
        >
            <div>
                <mat-icon aria-hidden="false">watch_later</mat-icon>
            </div>
            <p>
                News
            </p>
        </a>
    </div>
    <div class="navBtn">
        <a 
            [ngClass]="{active: activePage === 'acount'}"
            (click)="setActivePage('acount')"
        >
            <div>
                <mat-icon aria-hidden="false">account_circle</mat-icon>
            </div>
            <p>
                Acount
            </p>
        </a>
    </div>
    <div class="navBtn">
        <a 
            [ngClass]="{active: activePage === 'settings'}"
            (click)="setActivePage('settings')"
        >
            <div>
                <mat-icon aria-hidden="false">settings</mat-icon>
            </div>
            <p>
                Settings
            </p>
        </a>
    </div>
</nav>