<nav>
    <div class="navBtn">
        <a class="active">
            <div>
                <mat-icon aria-hidden="false">watch_later</mat-icon>
            </div>
            <p>
                News
            </p>
        </a>
    </div>
    <div class="navBtn">
        <a>
            <div>
                <mat-icon aria-hidden="false">account_circle</mat-icon>
            </div>
            <p>
                Acount
            </p>
        </a>
    </div>
    <div class="navBtn">
        <a>
            <div>
                <mat-icon aria-hidden="false">settings</mat-icon>
            </div>
            <p>
                Settings
            </p>
        </a>
    </div>
</nav>