section{
    padding: 6rem 1rem 5rem 1rem;
}
.input-group{
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .label{
        display: block;
        font-weight: 700;
    }
    select{
        display: block;
        padding: .25rem .75rem;
    }
    &:not(:last-child){
        border-bottom: .1rem solid #70707083;
    }
}
.about{
    .title{
        padding: 2rem 0;
        font-weight: 700;
        font-size: 1.5rem;
    }
    p{
        padding: 0.5rem 0;
        a{
            text-decoration: none;
            color: inherit;
            font-weight: 700;
        }
    }
}
@media ( min-width: 1200px) and (min-height: 700px){
    section{
        padding: 8rem 1rem 5rem 1rem;
        width: 80vw;
        margin: 0 5vw 0 15vw;
    }
}