<section *ngIf="!loading">
    <div class="login-section" *ngIf="!logedIn">
        <button (click)="loginBtn()" class="g-login">
            <p>
                <img src="../../assets/imeges/g.svg" alt="">
                Login with Google
            </p>
        </button>
    </div>
    <div class="user-area" *ngIf="logedIn">
        <button (click)="logout()">
            Logout
        </button>
    </div>
</section>
<div *ngIf="loading" class="loading">
    <app-loader-animation bgColor="dark"></app-loader-animation>
</div>

